<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MeteoSite</title>

    <!-- Feuille de style -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
      © 2025 - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
